<!DOCTYPE html>
<html>
<head>
	<% provide(:title, @title) %>
	<meta name="description" content="YourWaves - платформа для представления уникальных вещей и услуг | Создать публикацию" />
</head>
<body>
<div id="admin_form">
  <h1>Создать публикацию</h1>
  <%= render 'products/product_form' %>
</div>
</body>
</html>



