<!DOCTYPE html>
<html>
<head>
	<% provide(:title, @title) %>
	<meta name="description" content="YourWaves | Пользователи" />
</head>
<body>
<div id="admin_form">
  <h1>Пользователи</h1>
	<table class="table table-bordered user_li">
    <thead>
      <tr>
      	<th>id</th>
      	<th>Фото</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Дата регистрации</th>
        <th>Число публикаций</th>
        <th>Число активных публикаций</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render 'shared/user_li', :user => user %>
      <% end %>
    </tbody>
  </table>
  <%= render 'shared/paginate', :products => @users %>
</div>
</body>
</html>



