<div id="your_waves_contact">
  <%= link_to image_tag("logo5.png", alt: "YourWaves",style:"width:65%"), root_path %><br><br>
  <a href="https://vk.com/your_waves">
	  <%= image_tag("vkontakte.png",class:"social_logo") %>
  </a>
  <a href="http://instagram.com/your_waves">
	  <%= image_tag("instagram.png",class:"social_logo") %>
  </a>
  <a href="mailto:info@yourwaves.ru">
	  <%= image_tag("mail.png",class:"social_logo") %>
  </a>
</div>
