<% provide(:title, @title) %>
<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="YourWaves - платформа для представления уникальных вещей и услуг | Редактирование пубикации" />
</head>
<body>
<div id="admin_form">
  <h1>Редактировать публикацию</h1>
  <%= render 'products/product_form' %>
</div>
</body>
