<!DOCTYPE html>
<html>
<head><% provide(:title, @title) %></head>

<body>
	<% if @products.count != 0 %>
		<% @products.each do |product| %>
			<% if product == @products.first %>
				<%= render 'products/product_big', :product => product %>
			<% else %>
				<% if product == @products.second %>
					<%= render 'products/product_second', :product => product %>
				<% else %>
					<%= render 'products/product_small', :product => product %>
				<% end %>
			<% end %>
		<% end %>
		<%= render 'shared/paginate', :products => @products %>
	<% else %>
		<h5>По вашему запросу ничего не найдено</h5>
	<% end %>
</body>




